<div class="container-flex">
  <div id="question">
    <div id="questionPanel"></div>
    <div id="answerPanel"></div>
  </div>
  <div id="response" style="display='none'">
    <p class="result" id="correctResult">Well done!</p>
    <p class="result" id="wrongResult">Bad luck!</p>
    <p class="continue">Press screen to continue</p>
  </div>
</div>
