#questionPanel{
  font-size: 80px;
  text-align: center;
}



#answerPanel{
  font-size: 80px;
  text-align: center;
}

.container-flex {
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.result {
  font-size: 40px;
}

#correctResult {
  color: #96d834;
}

#wrongResult {
  color: #ff7b00;
}

.continue {
  color: #659df7;
  font-size: 18px;
}

.screen {
  padding-left: 1em;
}
